// MIXINS
@mixin BigDevice {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin MediumDevice {
    @media(max-width: 850px) {
        @content;
    }
}

@mixin SmallDevice {
    @media(max-width: 500px) {
        @content;
    }
}

// HEADER STYLES
@mixin Header ($variants) {
    width: 100%;
    position: relative;
    z-index: 2;
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 80px;
    @include MediumDevice {
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 42px;
    }
    @include SmallDevice {
        margin-bottom: 35px;
        font-size: 28px;
        line-height: 32px;
    }
    color: nth($variants, 1);
    text-shadow: nth($variants, 3);
    text-align: nth($variants, 4);
    span {
        padding: 2vmin 0;
        display: inline-block;
        min-width: 50%;
        border-top: nth($variants, 2);
        border-bottom: nth($variants, 2);
    }
}

// WRAPPER
@mixin WrapperSizing {
    padding: 80px 20px;
    box-sizing: content-box;
    margin: auto;
    max-width: $content-width;
    @media(max-width: 850px) {
        padding: 80px 20px 70px;
        width: 89.5%;
    }
    @media(max-width: 500px) {
        padding: 70px 15px 60px;
        max-width: 94%;
    }
}