@import //
url('https://fonts.googleapis.com/css?family=Poly'),
url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400'),
url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,400&display=swap&subset=latin-ext'),
url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
//
// Spacing & dimentions
$content-width: 1200px;
//
// Colors
$color-white: #fff;
$color-blue: #4b6777;
$color-light: #f1f2f4;
$color-dark: #2c2c2c;
$color-gold: #ce9e62;
$color-red: #c1432e;