.jumbotron {
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    z-index: 1;
    background-color: $color-dark;
    display: flex;
    padding: 0;
}

.jumbotron::after {
    content: "";
    background-image: url('../assets/img/SWSP_budynek.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.jumbotron-container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.jumbotron-heading {
    order: 2;
    margin: auto;
    text-align: center;
    color: $color-white;
    width: 60vw;
    max-width: 70%;
    font-size: 42px;
    font-family: 'IBM Plex Serif';
    font-weight: 300;
}

.logo-wrapper {
    display: block;
}

.logo-img {
    order: 1;
    width: 55%;
    margin: auto;
    overflow: hidden;
    display: flex;
    padding-bottom: 50px;
    img {
        display: block;
        width: 70%;
        margin: auto;
    }
}

.notation {
    order: 3;
    display: block;
    text-align: center;
    margin: auto;
    color: $color-gold;
    opacity: .6;
}