/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }
    header {
        position: fixed;
        right: 0;
        left: 0;
    }
    .navbar {
        padding: 3px;
        min-height: 50px;
    }
    .nav-item:first-child {
        display: flex;
    }
    .nav-item .logo-wrapper {
        margin: auto;
    }
    .nav-item:nth-child(n+2) {
        margin: auto;
        margin-right: 0;
        margin-left: 3px;
    }
    .nav-item .btn {
        font-size: 12px;
        padding: 4px;
    }
    .jumbotron {
        max-height: 400px;
    }
    .jumbotron-container {
        height: 100%;
        max-height: 400px;
    }
    .jumbotron-heading {
        margin: 0 auto;
        max-height: calc(100% / 3);
    }
    .jumbotron::after {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .logo-img {
        margin: 0 auto;
        max-height: calc(100% / 3);
        order: 2;
        padding: 20px 0;
    }
    .logo-img img {
        width: 100%;
    }
    .notation {
        margin: 0 auto;
        max-height: calc(100% / 4)
    }
    .notation p {
        margin-bottom: 2px;
    }
    .logo-small {
        margin: auto;
        width: 35px;
    }
    .icon-form {
        width: 15px;
        height: 18px;
    }
    .icon-user {
        width: 13px;
        height: 15px;
    }
    .jumbotron-heading {
        order: 1;
        font-size: 28px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    .container .formularz {
        flex-direction: column
    }
    .container .formularz> :nth-child(n) {
        width: calc(100% - 20px);
    }
    h1 {
        font-size: 25px;
        text-align: left;
    }
    h2,
    h3 {
        font-size: 20px;
        text-align: left;
    }
    p {
        font-size: 15px;
    }
    a {
        font-size: 15px;
    }
    .p-5 {
        padding: 15px!important;
    }
    .my-4 {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    ol li {
        width: 100%;
        padding-left: 0;
    }
    ol li::before {
        font-size: 2rem;
    }
    footer .container {
        flex-direction: column;
        justify-content: center;
    }
    footer .data {
        margin: auto;
        text-align: center;
    }
    footer .dev {
        margin: 20px auto;
    }
    footer:before,
    footer:after {
        background-size: auto 100%;
        max-height: 36rem;
        z-index: 2;
        opacity: .2;
        background-image: url('/img/graphics/rectangle-copy-copy-2.svg');
    }
    footer:after {
        z-index: 1;
        opacity: .1;
        background-image: url('/img/graphics/rectangle-copy-copy-3.svg');
    }
    .bg-vlight:after {
        opacity: .1;
        background-size: auto 180%;
    }
    .bg-dark:after {
        background-size: auto 130%;
        opacity: .2;
    }
}

@media (min-width: 40em) {}

@media (min-width: 1400px) {
    .bg-dark:after {
        background-size: auto 250%;
        opacity: .2;
    }
    footer:before,
    footer:after {
        background-size: auto 150%;
    }
}